.full-height {
  min-height: calc(100vh - 110px);
  max-height: calc(100vh - 110px);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.stretch-to-bottom {
  flex: 1;
}


.scrollable-table {
  max-height: 700px; 
  overflow-x: auto;  
  overflow-y: auto; 
  display: block;
}

#summary-table {
  max-height: 400px; 

}

/* This targets .nav-link elements with .active class inside .navbar-nav */
.navbar-nav .nav-link.active {
  background-color: #065520; 
  color: white;
  border-radius: .25rem; /* Optional: for rounded corners */
}

.navbar-nav .nav-link.active:hover {
  background-color: #168039;
  color: white;
}

.navbar-nav .nav-link:hover {
  background-color: #c6c9c9;
  color: rgb(0, 0, 0);
  border-radius: .25rem;
}